{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <h1 class="card-title">Add Certification</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">Title</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="id_organization">Organization</label>
                {{ form.organization }}
            </div>
            <div class="form-group">
                <label for="id_date_earned">Date Earned</label>
                {{ form.date_earned }}
            </div>
            <div class="form-group">
                <label for="id_issue_date">Issue Date</label>
                {{ form.issue_date }}
            </div>
            <div class="form-group">
                <label for="id_expiration_date">Expiration Date</label>
                {{ form.expiration_date }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}
