{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<div class="card mt-4">
    <div class="card-body">
        <h1 class="card-title">Add Education</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_institution">Institution</label>
                <input type="text" class="form-control" id="id_institution" name="institution" placeholder="Enter institution">
            </div>
            <div class="form-group">
                <label for="id_degree">Degree</label>
                <input type="text" class="form-control" id="id_degree" name="degree" placeholder="Enter degree">
            </div>
            <div class="form-group">
                <label for="id_field_of_study">Field of Study</label>
                <input type="text" class="form-control" id="id_field_of_study" name="field_of_study" placeholder="Enter field of study">
            </div>
            <div class="form-group">
                <label for="id_start_date">Start Date</label>
                <input type="date" class="form-control" id="id_start_date" name="start_date">
            </div>
            <div class="form-group">
                <label for="id_end_date">End Date</label>
                <input type="date" class="form-control" id="id_end_date" name="end_date">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}
