{% extends 'users/base.html' %}
{% load static %}


{% block content %}
<h1>Work Experience List</h1>
    <ul class="list-unstyled">
    {% for experience in work_experiences %}
        <li class="d-flex justify-content-between align-items-center mb-4">
            <div>
        <a href="{% url 'portfolio:work_experience_detail' pk=experience.pk %}" style="margin-right: 10px;">{{ experience.company }} - {{ experience.position }}</a>
    </div>
    <div class="btn-group" role="group" aria-label="Project Actions">
    <button type="button" class="btn btn-outline-info"><a href="{% url 'portfolio:work_experience_update' pk=experience.pk %}">Update</a></button>
    <button type="button" class="btn btn-outline-danger"><a href="{% url 'portfolio:work_experience_delete' pk=experience.pk %}">Delete</a></button>
</div>
    </li>
    {% endfor %}
    </ul>

<div class="row justify-content-center mt-5">
    <div class="col-md-4 text-center">
        <a href="{% url 'portfolio:work_experience_create' %}" class="btn btn-dark">Add Experience</a>
    </div>
</div>
{% endblock %}

