{% extends 'users/base.html' %}
{% load static %}

{% block content %}
  <div class="card">
    <div class="card-body">
        <h5 class="card-title">Welcome back, {{ user_profile.user.username }}</h5>
        <div class="card-text">
            <div class="border p-2 mb-2">
                <strong>Username:</strong> {{ user_profile.user.username }}
            </div>
            <div class="border p-2 mb-2">
                <strong>Full Name:</strong> {{ user_profile.full_name }}
            </div>
            <div class="border p-2 mb-2">
                <strong>Skills:</strong> {{ user_profile.skills }}
            </div>
            <div class="border p-2 mb-2">
                <strong>Contact Details:</strong> {{ user_profile.contact_details }}
            </div>
        </div>
    </div>
</div>



<div class="row justify-content-center mt-5">
        <div class="col-md-4 text-center">
            <button type="button" class="btn btn-dark"><a href="{% url 'edit_profile' %}" style="margin-right: 10px;">Edit profile</a></button>
        </div>
    </div>
{% endblock %}


